# dependencies
node_modules

# production
build/*


# misc
.DS_Store

npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
.vscode
.python-version
preprocess-data/data/preprocessed_data/timeline.csv
preprocess-data/data/preprocessed_data/timeline.csv
